.collateral-tags {
  margin: 12px 0;

  .badge-big {
    padding: 8px;
    font-size: 14px;
  };
}

.tag-100 {
  background-color: $green;
}

.tag-75 {
  background-color: $blue;
}

.tag-50 {
  background-color: $yellow;
}

.tag-25 {
  background-color: $orange;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 200px;
  img {
    height: 30px;
  }

  .logo-footer {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 8px;
    margin-top: 2px;
  }
}

.pagination {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  border: 1px solid #ccc;

  span {
    padding: 8px;
    border-right: 1px solid #ccc;

    &:last-child {
      border-right: none
    }
  }
}
