<h1>New Tag</h1>
<%= simple_form_for @tag do |c| %>
  <%= c.input :name %>
  <%= c.input :category, collection: ["stack", "language", "country"], include_blank: true , as: :select %>

  <%= c.button :submit %>
<% end %>
